asgiref==3.11.1
dj-database-url==3.1.2
Django==6.0.6
django-cors-headers==4.9.0
django-filter==25.2
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
drf-spectacular==0.29.0
gunicorn==26.0.0
pillow==12.2.0
psycopg2-binary==2.9.12
python-dotenv==1.2.2
whitenoise==6.12.0
sib-api-v3-sdk==7.6.0
requests==2.32.3